.about-container {
    height: 90%;
}

.circles-container {
    width: 50%;
}

.circle{
    cursor: pointer;
    box-shadow: 2px 3px 5px gray;
}

.about-info {
    width: 50%;
    z-index: 10;
}


#circle-1 {
    width: 20rem;
    height: 20rem;
    background: #C8B0F0;
    border-radius: 300px;
}

#circle-2 {
    width: 10rem;
    height: 10rem;
    background: #C2E1AF;
    border-radius: 300px;
    position: absolute;
    left: 60%;
}


#name {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sub {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.circles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/* Keyframes for fade-in and scale-up */
@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes opacityChange {
    0% {
                opacity: 0;
    }

        50% {
            opacity: 0.5;
        }

    100% {
                opacity: 1;
    }
}

#circle-1,
#circle-2 {
    animation: fadeInScaleUp 1s ease-out forwards;
}

.about-info {
    animation: opacityChange 1s ease-out forwards;
}


.circle:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

#circle-1:hover {
    background: #A78BE2;
}

#circle-2:hover {
    background: #9CD9A2;
}


.circle {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.circle:hover {
    transform: scale(1.1);
}

#circle-1 {
    width: 20rem;
    height: 20rem;
    background: #C8B0F0;
    border-radius: 50%;
}

#circle-1:hover {
    background: #A78BE2;
}

#circle-2 {
    width: 10rem;
    height: 10rem;
    background: #C2E1AF;
    border-radius: 50%;
    position: absolute;
    left: 60%;
}

#circle-2:hover {
    background: #9CD9A2;
}

.contact-links {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
}

.contact-container {
    text-align: center;
    width: 40px;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.contact-container img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.contact-container .title{
    font-family: "Inter";
    font-size: 15px;
    text-decoration: none;
}


@media (max-width: 768px){
    .about-container{
        height: 70%;
    }

    .about-info{
        width: 80%;
    }

    .circles-container{
        width: 20%;
    }
}