.footer-container {
    justify-content: space-evenly;
    /* position: absolute; */
    bottom: 0;

}

.title {
    color: #000;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.link {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}


.footer-vals {
    align-items: flex-start;
}


.trademark {
    align-items: flex-end;
}