/* Main container for the work section */
.work-container {
    margin: 20px auto;
    padding: 20px;
}

/* Individual work sections */
.work-section {
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
    animation-delay: calc(0.2s * var(--section-index));
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
}

/* Heading of each work section */
.work-section .heading {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
    width: 40%;
}

/* Container for the work information */
.all-info-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Individual info container */
.info-container {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}

/* Date or duration of each work experience */
.duration {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    width: 40%;
    margin: 0.3rem;
}

/* Information block */
.information {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
    align-items: start;
    justify-content: start;
}

/* Title with link */
.title {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #0056b3;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.title:hover {
    color: #003366;
}

/* Subtitle */
.sub {
    font-size: 16px;
    color: #666;
}

/* Description list */
.description {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    color: #444;
}

/* List items */
.description li {
    margin-bottom: 5px;
}

/* Fade-in animation for work sections */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.work-section {
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
    animation-delay: calc(0.2s * var(--section-index));
}

@media (max-width: 768px) {
    .work-section{
        flex-direction: column;
    }

        .work-section .heading{
            justify-content: start;
        }

                .all-info-container{
                    width: 100%;
                }
}